<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
        <meta charset="utf-8">
        <title>Crochet Patterns</title>
    </head>

    <body>
        <ul>
            <li class="active">Home</li>
            <li class="title">Crochet Patterns</li>
            <li><a href="/login">Login/Register</a></li>
    </body>
</html>