<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
        <meta charset="utf-8">
        <title>Crochet Patterns</title>
    </head>

    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="title">Crochet Patterns</li>
            <li class="active">Login/Register</li>
        </ul>

        <p class="center">Sign in</p>

            <table class="sign-in center">

            <form id="login-form">

                <tr>
                    <td>Enter your username:</td>
                    <td><input type="text" name="input-username" id="input-username" required></td>
                </tr>
                <tr>
                    <td>Enter your password:</td>
                    <td><input type="password" name="input-password" id="input-password" required></td>
                </tr>

                <tr  class="center">
                    <td  colspan="2">
                        <input class="center" type="submit">
                    </td>
                </tr>

            </table>

            </form>
            <div>
                <p  class="center">Don't have an account?</p>
                <p  class="center"><a href="/register"> Register here</a></p>
            </div>
        
        <script src="./js/login.js"></script>
    </body>
</html>