<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Register</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    </head>

    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="title">Crochet Patterns</li>
            <li class="active">Login/Register</li>
        </ul>

        <p class="center">Register</p>

            <table class="register center">

            <form id="register-form">

                <tr>
                    <td>Enter your email:</td>
                    <td><input type="text" name="input-register-email" id="input-register-email" required></td>
                </tr>
                <tr>
                    <td>Create your username:</td>
                    <td><input type="text" name="input-register-username" id="input-register-username" required></td>
                </tr>
                <tr>
                    <td>Create your password:</td>
                    <td><input type="password" name="input-register-password" id="input-register-password" required></td>
                </tr>

                <tr  class="center">
                    <td colspan="2">
                        <input  class="center" type="submit">
                    </td>
                </tr>

            </table>

            </form>
            <div>
                <p  class="center">Already have an account?</p>
                <p  class="center"><a href="/login"> Login here</a></p>
            </div>

            <script src="./js/register.js"></script>
        
    </body>


</html>