<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Crochet Patterns</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    </head>

    <body>
        <ul>
            <li><a href="/user"></a>Home</li>
            <li class="title">Crochet Patterns</li>
            <li><a href="/profile">{{username}}</a></li>
        </ul>
    </body>

    <div id="popup1" class="hide">
        <button id="exit-popup1">X</button>
        <p class = "popup-1">You can now visit your profile above!</p>
        <p class = "popup-1">In your profile you can:</p>
        <p class = "popup-1">-Customize your info</p>
        <p class = "popup-1">-Customize your profile</p>
        <p class = "popup-1">-Manage your posts</p>
        <p class = "popup-1">-And more!</p>
    </div>

    <script src="./js/user.js"></script>
    
</html>